/* p {
  text-align: right;
} */

p {
  text-align: end;
}

/* h2 {
  border-right: 5px solid red;
  border-left: 5px solid red;
} */
h2 {
  border-inline: 5px solid red;
  border-block: 5px solid green;
}

/* we can use inline as a shorthand for x axis
and block as a shorthand for y axis */

/* div {
  display: grid;
  place-items: center;
  background: lime;
  height: 10rem;
  width: 10rem;
} */
div {
  display: grid;
  place-items: center;
  background: lime;
  inline-size: 10rem;
  block-size: 10rem;
}

/* we can use size attributes isntead of width and height but tbh i dont see myself using this */
